.listaRutasExpandida {
  transition: 1.5s ease-out;
}

.listaRutasItem {
  border: 1px solid #ddd;
  margin: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 1.3s ease-out;
  display: flex;
  flex-direction: column;

}

.listaRutasItem.expandida {
  background-color: #f9f9f9;
  padding: 1rem;
  transition: 5s ease-out;

}

/* ListaRutas.module.css */
.rutas {
  padding: 20px;

}

.listaRutas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 2;
  align-items:baseline;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 1.3s ease-out;
}

/* Estilo para cada elemento de ruta */
.listaRutas li {
  border: 1px solid #ddd;
  margin: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 1.3s ease-out;
}

/* Estilo para resaltar la ruta seleccionada */
.listaRutas li.expandida {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 1.3s ease-out;
}

/* Estilo para la cabecera de la ruta */
.rutaCabecera {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* Estilo para el contenido expandido de la ruta */
.rutaDetalle {
  margin-top: 10px;
  transition: 1.5s ease-out;

}


/* Estilo para la descripción de la ruta */
p {
  margin: 0;
  font-size: 14px;
}

.listaRutas li.expandida .rutaCabecera p {
  color: #ddd;
  transition: 1.5s ease-out;

}

/* Estilo para la ubicación y kilómetros */
.rutaCabecera p {
  font-size: 14px;
  color: #000;
}

