.indexRutas {
  font-family: 'Poppins';
  background-color: rgb(234, 234, 231);
}

.listaRutasExpandida {
  transition: all 1.5s ease-out;
}

.listaRutasItem {
  border: 0px solid #ddd;
  margin: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  transition: 1.3s ease-out;
  display: flex;
  flex-direction: column;
}

.listaRutasItem.expandida {
  background-color: #f9f9f9;
  padding: 1rem;
  transition: all 3s ease-out;
}

/* ListaRutas.module.css */
.rutas {
  padding: 20px;
  margin-top: 20px;
}

.listaRutas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 2;
  align-items: baseline;
  justify-content: space-around;
  background-color: rgba(234, 234, 231, 0.8);
  transition: background-color 1.3s ease-out;
}

/* Estilo para cada elemento de ruta */
.listaRutas li {
  border: 0px solid #4a5454;
  border-radius: 10px;
  margin: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(135, 206, 235, 0.15);
  /* background: linear-gradient(#87ceeb, #fff) border-box; */
  transition: background-color 1.3s ease-out;
}

.listaRutas li:hover {
  background-color: rgba(85, 107, 47, 0.7);
}

/* Estilo para resaltar la ruta seleccionada */
.listaRutas li.expandida {
  background-color: rgba(85, 107, 47, 0.7);
  transition: background-color 1.3s ease-out;
}

/* Estilo para la cabecera de la ruta */
.rutaCabecera {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para el contenido expandido de la ruta */
.rutaDetalle {
  margin-top: 10px;
  transition: 1.5s ease-out;
}

/* Estilo para la descripción de la ruta */
p {
  margin: 0;
  font-size: 14px;
}

.listaRutas li.expandida .rutaCabecera p {
  color: #fff;
  transition: 1.5s ease-out;
}

/* Estilo para la ubicación y kilómetros */
.rutaCabecera p {
  font-size: 14px;
  color: #000;
}