/* Modal.css */


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

/* COLORES PARA LA WEB
  
  Verde Bosque:
Hex: #2E8B57
RGB: 46, 139, 87

Azul Cielo:
Hex: #87CEEB
RGB: 135, 206, 235

Marrón Tierra:
Hex: #8B4513
RGB: 139, 69, 19

Verde Oliva:
Hex: #556B2F
RGB: 85, 107, 47

Amarillo Sol:
Hex: #FFD700
RGB: 255, 215, 0
  
  */