.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  width: 100%;
}
.menu {
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 0px;
   /* Ajusta el padding general de la barra de navegación según tus necesidades */
}

.menu > * {
  margin-right: 4px; /* Agrega espacio entre las opciones seleccionadas */
  gap: 2rem;
  padding: 0px;
}

label {
  font-size: 15px;
  align-items: center;
  border: solid 3px;
}

.p-menuitem-text {
  color: black;
  padding: 10px
}