.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  color: black;
  border: solid red 3px;
  width: 100%;
}