.form {
  display: flex;
  flex-direction: row;
}

label {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(217, 235, 240);
}

input,
textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

button:hover {
  background-color: rgb(217, 235, 240);
}