body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(234, 234, 231, 0.8);
  background-image: url('./img/img-pagina-ppal.jpg');
  /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
  background-size: cover;
  /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: 'Poppins';
  background-color: rgba(234, 234, 231, 0.8);
  height: 100%;
}

/* Estilos para pagina de registro */

.enlaceRegistro:hover {
  color: rgb(77, 77, 237);
}

.btnReg:hover {
  background: #163a1f;
}

.btnIni:hover {
  background: #214e7e;
}

/* Estilos para NuevaRuta */

.nuevaRutaComponent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.formularioNuevaRutaCard {
  background-color: rgba(234, 234, 231, 0.7);
  width: 60%;
  height: 70vh;
  border: 0px solid #000;
  border-radius: 13px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.tituloFormulario {
  padding: 30px;
  text-align: center;
  font-size: 27px;
  margin-top: 4px;
  color: black;
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-underline-offset: 7px
}

.filaFormulario {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 15px;
  gap: 50px;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 10px;

  label {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(217, 235, 240);
  }
}


input,
textarea {
  padding: 6px;
  border-radius: 10px;
  border: 0px solid black;
}

button:hover {
  background-color: rgb(217, 235, 240);
}

/* Estilos para el Navbar */

.navbarCard {
  width: 100%;
  font-family: 'Poppins';
  background-color: rgba(234, 234, 231, 0.8);
  display: flex;
  justify-content: center;
}

.menu {
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: 'Poppins';
  background-color: rgba(234, 234, 231, 0.8);
  /* Ajusta el padding general de la barra de navegación según tus necesidades */
}

.menu>* {
  margin-right: 4px;
  /* Agrega espacio entre las opciones seleccionadas */
  gap: 2rem;
  padding: 0px;

  label {
    font-size: 15px;
    align-items: center;
    border: solid 3px;
  }
}


.p-menuitem-text {
  color: black;
  padding: 10px
}

.p-menubar.p-component {
  background-color: rgba(234, 234, 231, 0.8);
}

/* Estilo para el Modal de Rutas */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

/* COLORES PARA LA WEB
  
  Verde Bosque:
Hex: #2E8B57
RGB: 46, 139, 87

Azul Cielo:
Hex: #87CEEB
RGB: 135, 206, 235

Marrón Tierra:
Hex: #8B4513
RGB: 139, 69, 19

Verde Oliva:
Hex: #556B2F
RGB: 85, 107, 47

Amarillo Sol:
Hex: #FFD700
RGB: 255, 215, 0
  
  */

/* Estilos para ListaRutas */

.indexRutas {
  font-family: 'Poppins';
  margin-top: 30px;
  height: 50%;
}

.listaRutasExpandida {
  transition: all 1.5s ease-out;
}

.listaRutasItem {
  border: 0px solid #ddd;
  margin: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  transition: 1.3s ease-out;
  display: flex;
  flex-direction: column;
}

.listaRutasItem.expandida {
  padding: 1rem;
  transition: all 3s ease-out;
}

.src_listaRutas__zEwxk .src_listaRutasExpandida__Vh8e8 {
  width: 100%;
}

/* ListaRutas.module.css */
.rutas {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 20px;
  margin-top: 20px;
  height: 100%;

}

.listaRutas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 2rem;
  align-items: baseline;
  justify-content: space-around;
  transition: background-color 1.3s ease-out;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 75vw;
  background-color: rgb(234, 234, 231, 0.8);
}

.rutaTarjeta {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.rutaTarjeta:hover {
  background-color: #f4f4f4;
  transform: translateY(-3px);
}

/* Media queries para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  /* Estilos para pantallas pequeñas */

  .menu {
    /* Ajusta estilos para la barra de navegación en pantallas pequeñas */
    flex-direction: column;
    width: 100%;
  }

  .listaRutasItem {
    /* Ajusta estilos para los elementos de la lista de rutas en pantallas pequeñas */
    padding: 5px;
  }
}

/* Estilo para cada elemento de ruta */
.listaRutas li {
  border: 0px solid #4a5454;
  border-radius: 10px;
  margin: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(234, 234, 231, 0.8);
  /* background: linear-gradient(#87ceeb, #fff) border-box; */
  transition: background-color 1.3s ease-out;
}

.listaRutas li:hover {
  background-color: rgb(251, 251, 251);

  li {

    color: #fff;
  }
}

/* Estilo para resaltar la ruta seleccionada */
.listaRutas li.expandida {
  transition: background-color 1.3s ease-out;
}

/* Estilo para la cabecera de la ruta */
.rutaCabecera {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para el contenido expandido de la ruta */
.rutaDetalle {
  margin-top: 10px;
  transition: 1.5s ease-out;
}

/* Estilo para la descripción de la ruta */
p {
  margin: 0;
  font-size: 14px;
}

.listaRutas li.expandida .rutaCabecera p {
  transition: 1.5s ease-out;
}

/* Estilo para la ubicación y kilómetros */
.rutaCabecera p {
  font-size: 14px;
  color: #000;
}

/* Estilos para el componente del Perfil */

.profileCard {
  margin-bottom: 20px;
  margin-top: 40px;
}

/* Estilos para el Login y el Register */

.autenticationCard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100vh;
  overflow-y: hidden;

  h2 {
    text-decoration: underline 3px rgba(85, 107, 47, 0.7);
    text-underline-offset: 7px;
  }
}

.registerCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 30vw;
  height: 92vh;
  background-color: rgb(234, 234, 231, 0.8);
}

.loginCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 30vw;
  height: 60vh;
  background-color: rgb(234, 234, 231, 0.8);
}

.divLabel {
  margin-bottom: 10px;
  padding: 5px;

  label {
    border: 0px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}