body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(234, 234, 231, 0.8);
  background-image: url('./img/img-pagina-ppal.jpg');
  /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
  background-size: cover;
  /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: 'Poppins';
  background-color: rgba(234, 234, 231, 0.8);
  height: 100%;
}

/* Estilos para pagina de registro */

.enlaceRegistro:hover {
  color: rgb(77, 77, 237);
}

.btnReg:hover {
  background: #163a1f;
}

.btnIni:hover {
  background: #214e7e;
}

/* Estilos para NuevaRuta */

.nuevaRutaComponent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.formularioNuevaRutaCard {
  background-color: rgba(234, 234, 231, 0.7);
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid #000;
  border-radius: 13px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.tituloFormulario {
  padding: 30px;
  text-align: center;
  font-size: 27px;
  margin-top: 4px;
  color: black;
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  text-underline-offset: 7px
}

.filaFormulario {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 15px;
  gap: 50px;
  margin-top: 10px;
}

.contenedorCampos {

  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario {
  width: 100%;
}

label {
  padding: 10px;
  border-radius: 10px;

}

textarea {
  height: 28px;
  border-radius: 10px;
  border: 0px solid black;
  text-decoration: none;
}


input {
  padding: 6px;
  border-radius: 10px;
  border: 0px solid black;
}

button:hover {
  background-color: rgb(217, 235, 240);
}

@media (max-width: 980px) {

  .formularioNuevaRutaCard {
    width: 90%;
    height: 100%;
    flex-direction: column;
  }

  .filaFormulario {
    flex-direction: column;
  }

  .contenedorCampos {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

/* Estilos para el Navbar */

.navbarCard {
  width: 100%;
  font-family: 'Poppins';
  background-color: rgba(234, 234, 231, 0.8);
  display: flex;
  justify-content: center;
}

.menu {
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: 'Poppins';
  background-color: rgba(234, 234, 231, 0.8);
  /* Ajusta el padding general de la barra de navegación según tus necesidades */
}

.menu>* {
  margin-right: 4px;
  /* Agrega espacio entre las opciones seleccionadas */
  gap: 2rem;
  padding: 0px;

  label {
    font-size: 15px;
    align-items: center;
    border: solid 3px;
  }
}


.p-menuitem-text {
  color: black;
  padding: 10px
}

.p-menubar.p-component {
  background-color: rgba(234, 234, 231, 0);
  width: 100vh;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 900px) {

  .p-menubar.p-component.p-menubar-mobile-active {
    width: 100%;
  }

  .p-menubar.p-component {
    width: 100vh;
  }

  .navbarMenu.open {
    display: flex;
  }

  .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    width: 100vh;
  }

  .p-menubar-root-list .p-menuitem {
    width: 100vh;
    text-align: center;
  }
}




/* Estilo para el Modal de Rutas */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

/* COLORES PARA LA WEB
  
  Verde Bosque:
Hex: #2E8B57
RGB: 46, 139, 87

Azul Cielo:
Hex: #87CEEB
RGB: 135, 206, 235

Marrón Tierra:
Hex: #8B4513
RGB: 139, 69, 19

Verde Oliva:
Hex: #556B2F
RGB: 85, 107, 47

Amarillo Sol:
Hex: #FFD700
RGB: 255, 215, 0
  
  */

/* Estilos para ListaRutas */

.indexRutas {
  font-family: 'Poppins';
  margin-top: 30px;
  height: 50%;
}

.listaRutasExpandida {
  transition: all 1.5s ease-out;
}

.listaRutasItem {
  border: 0px solid #ddd;
  margin: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  transition: 1.3s ease-out;
  display: flex;
  flex-direction: column;
  width: 44%;
}

.listaRutasItem.expandida {
  padding: 1rem;
  transition: all 3s ease-out;
}

.src_listaRutas__zEwxk .src_listaRutasExpandida__Vh8e8 {
  width: 100%;
}

/* ListaRutas.module.css */
.rutas {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 20px;
  margin-top: 20px;
  height: 100%;

}

.listaRutas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 2rem;
  align-items: baseline;
  justify-content: space-around;
  transition: background-color 1.3s ease-out;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 75vw;
  background-color: rgb(234, 234, 231, 0.8);
  overflow: auto;
}

.rutaTarjeta {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  height: 30vh;
}

.rutaTarjeta:hover {
  background-color: #f4f4f4;
  transform: translateY(-3px);
}

/* Estilo para cada elemento de ruta */
.listaRutas li {
  border: 0px solid #4a5454;
  border-radius: 10px;
  margin: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(234, 234, 231, 0.8);
  /* background: linear-gradient(#87ceeb, #fff) border-box; */
  transition: background-color 1.3s ease-out;
}

.listaRutas li:hover {
  background-color: rgb(251, 251, 251);

  li {

    color: #fff;
  }
}

/* Estilo para resaltar la ruta seleccionada */
.listaRutas li.expandida {
  transition: background-color 1.3s ease-out;
}

/* Estilo para la cabecera de la ruta */
.rutaCabecera {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para el contenido expandido de la ruta */
.rutaDetalle {
  margin-top: 10px;
  transition: 1.5s ease-out;
}

/* Estilo para la descripción de la ruta */
p {
  margin: 0;
  font-size: 14px;
}

.listaRutas li.expandida .rutaCabecera p {
  transition: 1.5s ease-out;
}

/* Estilo para la ubicación y kilómetros */
.rutaCabecera p {
  font-size: 14px;
  color: #000;
}

/* Estilos para el componente del Perfil */

.profileCard {
  margin-bottom: 20px;
  margin-top: 40px;
}

/* Estilos para los iconos de editar usuario */

.icono {
  font-size: 25px;
}

.icono:hover {
  width: 3rem;
}

.iconoGuardar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  padding: 5px;
  background: #d3cbcb
}



.iconoGuardar:hover {
  background-color: #aba7a7;
}

.iconoGuardarSaved {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  padding: 5px;
  background: #abaaaa82
}

.iconoGuardarSaved:hover {
  background-color: #aba7a7;
}

.iconoGuardarU {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  padding: 5px;
  background: #f9f8f7
}

.iconoGuardarU:hover {
  background-color: #aba7a7;
}

@media (max-width: 800px) {

  .iconoGuardar {
    margin-top: 10px;
    height: 50px;
    width: 50px;
  }
}

.tituloPortada {
  font-size: 18px;
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-underline-offset: 7px;
  color: #5d5959;
}

.infoPortada {
  font-size: 13px;
  margin-top: 15px;
  color: #837c7c;
}

.distPortada {
  font-size: 17px;
  margin-top: 15px;
  color: #837c7c;
}

.divImgPortada {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.imgPortada {
  width: auto;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1100px) {

  .listaRutas {
    width: 90vw;
  }

  .listaRutasItem {
    width: 100%;
  }

  .listaRutas {
    width: 98vw;
  }

  .tituloPortada {
    font-size: 20px;
    text-underline-offset: 4px;
  }

  .infoPortada {
    font-size: 14px;
  }
}

@media (max-width: 700px) {

  .listaRutas {
    width: 90vw;
  }

  .listaRutasItem {
    width: 100%;
  }

  .listaRutas {
    width: 98vw;
  }

  .tituloPortada {
    font-size: 14px;
    text-underline-offset: 4px;
  }

  .infoPortada {
    font-size: 10px;
  }
}

/* Estilos para el Modal de ListaRutas */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal2 {
  background-color: #fff;
  margin: 56px 0;
  width: 50%;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  transform: 0.3s ease;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #333;
}

.tituloRuta {
  font-size: 18px;
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-underline-offset: 7px;
  color: #5d5959;
}

.descripcionRuta {
  padding-top: 1rem;
  color: #837c7c;
}

.infoRuta {
  padding-top: 2rem;
  color: #837c7c;
}

.divImgRuta {
  width: 100%;
  height: 50%;
  margin-top: 16px;
}

.imgRuta {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  justify-content: center;
  border-radius: 10px;
}


.divBotonGuardarRuta {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
  transition: all 3s ease-out;
  margin-top: 20px;
}

.botonGuardarRuta {
  width: 127.7px;
  height: 26px;
  cursor: pointer;
  color: #837c7c;
  transform: scale(1);
}

.botonGuardarRutaAnimado {
  width: 127.7px;
  height: 26px;
  cursor: pointer;
  color: #837c7c;
  transform: scale(1.2);
}


@media (max-width: 800px) {

  .modalOverlay {
    width: 100%;
  }

  .modal2 {
    width: 80%;
    height: auto !important;
    margin-top: 13rem;
    margin-bottom: 13rem;
  }

  .descripcionRuta {
    font-size: 13px;
  }

  .infoRuta {
    padding-top: 0.5rem;
  }

  .botonGuardarRuta {
    width: 97.7px;
    height: 16px;
  }

  .divBotonGuardarRuta {
    margin-top: 10px;
    height: 100px;
  }

  .divImgRuta {
    max-height: 200px;
  }

  .imgRuta {
    max-height: 200px;
  }
}

/* Estilos para la barra de búsqueda */

.contBarraBusqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 80vh;
}

.divBotones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.btnFiltros {
  padding: 10px 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #515557c2;
}

.btnUbicacion {
  background-color: #007BFF;
}

.inputUbi {
  width: 80%;
  background: #dce1e4c2;
  color: #1c1d1d96;
  padding: 10px;
  outline: none;
  border: none;
}

.inputDif {
  width: 80%;
  background: #dce1e4c2;
  color: #1c1d1d96;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.btnGuardarDif {
  padding: 8px 10px;
  background: #91948c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 12px;
  font-family: Poppins;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
}

.btnGuardarDif:hover {
  background-color: #6B8E23;
}

@media (max-width: 600px) {
  .contBarraBusqueda {
    width: 80vw;
  }

  .btnGuardarDif:hover {
    background-color: #6B8E23;
  }
}


/* Estilos para el Login y el Register */

.autenticationCard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100%;
  overflow-y: hidden;

  h2 {
    text-decoration: underline 3px rgba(85, 107, 47, 0.7);
    text-underline-offset: 7px;
  }
}

.registerCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  min-width: 30vw;
  max-width: 90vw;
  min-height: 50vh;
  height: auto;
  background-color: rgb(234, 234, 231, 0.8);
}

.loginCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  min-width: 30vw;
  min-height: 50vh;
  height: auto;
  background-color: rgb(234, 234, 231, 0.8);
}

.divLabel {
  margin-bottom: 10px;
  padding: 5px;

  label {
    border: 0px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

/* Estilos para el home */

.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.contTituloHome {
  width: 50%;
  text-align: center;
  transition: background-color 1.3s ease-out;
}

.tituloHome {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-underline-offset: 7px;
}

.contArticulos {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.quienesSomos {
  width: 50%;
  height: 100%;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.quienesSomosCont {
  height: 100%;
  width: 100%;
  padding: 16px;
  transition: background-color 1.3s ease-out;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(234, 234, 231, 0.9);
}

.quienesSomosTitulo {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: underline 3px rgba(85, 104, 47, 0.7);
  text-underline-offset: 7px;
  font-size: 30px;
  padding: 2rem;
}

.contTexto {
  color: #1c1d1d96;
}

.quienesSomosDivImg {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.quienesSomosImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.queSomos {
  width: 100%;
  height: 100%;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.queSomosCont {
  padding: 2rem;
  transition: background-color 1.3s ease-out;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(234, 234, 231, 0.9);
}

.queSomosTitulo {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: underline 3px rgba(85, 104, 47, 0.7);
  text-underline-offset: 7px;
  font-size: 30px;
  padding: 2rem;
}

.queSomosDivImg {
  margin-top: 2rem;
}

.queSomosImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 600px) {

  .quienesSomos {
    width: 100%;
  }

  .contArticulos {
    flex-direction: column;
  }

}

/* Modal Editar Usuario */

.editarUser {
  height: 100%;
  display: block;
  padding: 20px;
  background-color: rgb(234, 234, 231, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(5px);

  label {
    font-size: 15px;
    width: 30%;
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .campos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
  }

  .guardar {
    padding: 10px;
    background-color: rgb(141, 174, 141);
    border: 0;
    border-radius: 5px;
    color: white;
  }
}

.modal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  overflow: auto;
  z-index: 2;
  transition: opacity 0.3s ease;
  transform: 0.3s ease;
}

.modal2E {
  background-color: #fff;
  width: 70vw;
  height: 500px;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  background-color: rgb(234, 234, 231);
  transition: opacity 0.3s ease;
  transform: 0.3s ease;
}

.btnEditarUser {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  margin-right: 10px;
  margin-top: 10px;
}

.contEditar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloEditar {
  width: 20rem;
  text-decoration: none;
  font-size: 28px;
  margin-bottom: 30px;
  color: black;
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-underline-offset: 7px;
}

.divCampos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 600px) {
  .divCampos {
    flex-direction: column;
  }

  .editarUser {

    .campos {
      width: 100%;
      padding: 2px;
    }

    label {
      width: 100%;
      margin-bottom: 2px;
      font-weight: bold;
    }

    input,
    textarea {
      padding: 5px;
      margin-bottom: 5px;
      margin-top: 8px;
    }
  }

  .modal2E {
    width: 70vw;
    height: auto;
    padding: 20px;
  }
}

/* Estilos para la interfaz del Perfil */

.profileStyle {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(234, 234, 231, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.divIconos {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.headerStyle {
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.nameStyle {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #666;
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-underline-offset: 7px;
}

.emailStyle {
  margin: 5px 0;
  color: #666;
}

.sectionStyle {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.infPersonal {
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-underline-offset: 7px;
  color: #666;
}

.divBtnMostrarRuta {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
  transition: all 3s ease-out;
  margin-top: 20px;
}

.btnMostrarRuta {
  width: 127.7px;
  height: 33px;
  color: #837c7c;
}

.btnMostrarRutaAnim {
  width: 127.7px;
  height: 33px;
  color: #837c7c;
  transform: scale(1.2);
}

@media (max-width: 600px) {

  .profileStyle {
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(234, 234, 231, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
}

/* Estilos Borrar Usuario */

.modalDelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  z-index: 2;
  transition: opacity 0.3s ease;
  transform: 0.3s ease;
}

.modalContent {
  padding: 16px;
}

.close {
  font-size: 30px;
}

.divBotonesDeleteUser {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.btnConfirm {
  background-color: red;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 10px;
}

.btnCancel {
  background-color: #ddd;
  color: black;
  padding: 6px;
  border: none;
  border-radius: 10px;
}

/* Estilos para los componentes de la Administración */

.contAdmin {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divBotonesAdmin {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.btnAdmin {
  background-color: #506951;
  border-radius: 10px;
}

.btnAdmin:hover {
  background-color: #347236;
}

.contAdminRutas {
  width: 70vw;
  height: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(15px);

}

.p-datatable-table.role.data-pc-section {
  width: 100%;
  border-radius: 10px;

}

.data-p-highlight.data-p-highlight-contextmenu.data-pc-section {
  font-size: 15px;
}

.tituloAdminRuta {
  font-size: 34px;
  font-weight: bold;
  text-decoration: underline 3px rgba(85, 107, 47, 0.7);
  text-underline-offset: 7px;
  color: #666;
}

.dataTabla {
  background-color: rgba(234, 234, 231, 0.8);
}

.btnEliminarAdmin {
  background-color: rgb(102, 38, 38);
}